<div class="container">
    <span class="header-tag">details.component.html</span>
    <br>
    <button class="btn btn-danger">Delete Movie {{movie?.title}}</button>
    <form>
        <table class="table table-striped">
            <thead class="thead thead-dark">
                <tr>
                    <th>Reviewer</th>
                    <th>Stars</th>
                    <th>Reviews</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Rick</td>
                    <td>4</td>
                    <td>The hook could do so much science.</td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
